client/.idea/*
client/hellostudent_client/.idea/*
client/hellostudent_client/android/*
client/hellostudent_client/build/*
client/hellostudent_client/ios/*
client/hellostudent_client/linux/*
client/hellostudent_client/macos/*
client/hellostudent_client/web/*
client/hellostudent_client/windows/*

server/node_modules/*
server/src/config/*
server/package-lock.json
.idea/*
server/src/config/mariaConfig.js
server/src/config/dbConfig.js
